<template>
  <div id="app">
    <div v-for="(pallete, idx) in palletes" :key="idx">
      <Pallete v-bind:name="pallete.name" v-bind:colors="pallete.colors" />
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import Pallete from './components/Pallete.vue';

@Component({
  components: {
    Pallete,
  },
})
export default class App extends Vue {
  palletes: Array<object> = [
      {
          "name": "Basic",
          "colors": [
              {
                  "name": "Cool Blue",
                  "codeHex": "#3498db"
              },
              {
                  "name": "Nice Red",
                  "codeHex": "#e74c3c"
              },
              {
                  "name": "Acid Green",
                  "codeHex": "#f1c40f"
              }
          ]
      },
      {
          "name": "Basic",
          "colors": [
              {
                  "name": "Cool Blue",
                  "codeHex": "#f3a683"
              },
              {
                  "name": "Cool Blue",
                  "codeHex": "#f7d794"
              },
              {
                  "name": "Cool Blue",
                  "codeHex": "#778beb"
              },
              {
                  "name": "Cool Blue",
                  "codeHex": "#e77f67"
              },
              {
                  "name": "Cool Blue",
                  "codeHex": "#cf6a87"
              },
              {
                  "name": "Cool Blue",
                  "codeHex": "#786fa6"
              },
              {
                  "name": "Cool Blue",
                  "codeHex": "#f8a5c2"
              },
              {
                  "name": "Cool Blue",
                  "codeHex": "#63cdda"
              },
          ]
      },
      {
          "name": "Basic",
          "colors": [
              {
                  "name": "Cool Blue",
                  "codeHex": "#3498db"
              },
              {
                  "name": "Nice Red",
                  "codeHex": "#e74c3c"
              },
              {
                  "name": "Acid Green",
                  "codeHex": "#f1c40f"
              }
          ]
      }
  ];
}
</script>

<style lang="scss">
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
#app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  background-color: #fafafa;
  font-family: Helvetica, sans-serif;
}
</style>
